<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Konveksi</title>
  </head>
  <body>
    <h1>Add New Konveksi</h1>
    <div>
      <form action="/konveksis" method="POST">
        <label for="nama">Nama Konveksi :</label>
        <input type="text" name="name" id="name" />
        <br />
        <label for="location">Lokasi :</label>
        <input type="text" name="location" id="location" />
        <br />
        <label for="contact">Kontak :</label>
        <input type="text" name="contact" id="contact" />
        <br />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
